<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>@*</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>/*Comment*/</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>starcomment.py</string>
			<key>uuid</key>
			<string>595001FA-713D-4AF0-8A94-F32421F28A37</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string>@\</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>// Comment</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>slashcomment.py</string>
			<key>uuid</key>
			<string>0D1DDA3B-0624-4479-B782-5C6DBB0028C3</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>@)</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string># Comment</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>hashcomment.py</string>
			<key>uuid</key>
			<string>B2F07C67-8194-4045-B4B1-F4A6F1AA52D2</string>
		</dict>
	</array>
</dict>
</plist>
